.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: transparent;
}

.product-container > * {
  width: 100%;
  min-width: 0;
}

.product-card {
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 921px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 480px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .product-card {
    max-width: 100%;
  }
}


@media (max-width: 400px) {
  .product-container {
    grid-template-columns: repeat(2,1fr);
  }
}
