.badge-container{
    padding: 2px 10px;
    font-size: 0.5rem;
    width: fit-content;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}