.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-btn {
  padding: 10px 20px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modal-overlay {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  width: 90%;
  max-width: 450px;
  padding: 25px;
  border-radius: 8px;
  position: relative;
  animation: modalFade 0.25s ease;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 14px;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.form input,
.form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.checkbox {
  display: flex;
  gap: 8px;
  font-size: 14px;
  align-items: center;
}

.submit-btn {
  padding: 10px;
  background: #16a34a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #15803d;
}

@keyframes modalFade {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
