.footer {
    background-color: var(--dark-green);
    padding-top: 5rem ;
    padding-bottom: 1rem ;
    font-family: sans-serif;
}

.footer-top {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}

.footer .footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  
}

.footer .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height:25rem;
    max-width:25rem;
}
.footer .logo img{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height:5rem;
    max-width:25rem;
}

.footer .logo-para {
    font-size: 14px;
    color: white;
    max-width: 280px; 
    margin-top: 15px;
    line-height: 1.5;
    text-align: justify;
}

.footer .links ul {
    list-style: none;
    padding: 0;
}
.footer .links  {
    list-style: none;
    padding-top:2rem;
    
}

.footer .links ul li {
    margin-bottom: 10px;
}

.footer .links ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.footer .links ul li a:hover {
    color: var(--gold);
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1.6rem 0;
    border-top: 2px solid var(--gold);
    border-bottom: 2px solid var(--gold);
}

.iconContainer {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
}

.iconContainer div {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

.iconContainer div:hover {
    background-color: var(--gold);
    transform: translateY(-4px);
}

.site-rights {
    color: white;
    font-size: 14px;
}
.footer .footer-top .linkdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

@media (max-width: 800px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    .footer .footer-top .linkdiv .links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}
    .footer .footer-top .linkdiv .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: fit-content;
}
    .footer .footer-top .linkdiv .links ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5rem;
    
}
    .site-rights {
        order: 2;
    }

    .iconContainer {
        order: 1;
    }
}