*{
    scrollbar-width: none;
    scroll-behavior:auto ;
}

.app-container{
    background-image:url("./assets/laptop-cream-texture.png");
    background-size: cover;
    background-attachment: fixed;
}