:root {

  --site-white: #ffffff;
  --dark-green: #363f25;
  --cream-bg: #f5ead7;
  --dark-olive: #626135;
  --button-red: #d94a3a;
  --gold: #d4af37;
  --heading: #6b4f3a;
  --millet-cookies: #2b2b2b;
  --text-green: #1e4d2b;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  scrollbar-width: none;
}

.app-container{
  padding: 0 8rem;
}
@media (max-width:820px){
.app-container{
  padding: 0 ;
}
}